.mKBhCf.qwU8Me {
  transform: translate3d(-524px,0,0) !important;
  right: unset !important;
  left: 0;
}

/* When the chat window is open */
.mKBhCf.kjZr4 {
  transform: translate3d(0,0,0) !important;
}
